@model LibraryMVC.Core.ViewModels.BookListViewModel

@{
    ViewBag.Title = "Formats";
}

    <div class="container" style="padding-bottom:60px; display: flex; margin: 0px; font-size: 20px; padding-top: 60px; max-width:100%">

        <div class="col-5 col-md-5 col-lg-4 col-xl-2" style="text-align: center;">
            <h3>Filter by Format:</h3>
            <div class="list-group d-flex justify-content-center">
                @foreach (var c in Model.BookFormats)
                {
                    @Html.ActionLink(c.Format, "Index", new { Format = c.Format }, new { @class = Request["Format"] == c.Format ? "list-group-item active" : "list-group-item" })
                }
            </div>
        </div>
        <div class="row" style="width: 100%; justify-content: center; margin-left: 0px">
            @foreach (var item in Model.Books)
            {
                <div class="col-12 col-md-12 col-lg-6 col-xl-4 align-items-center" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col-md-12 d-flex justify-content-center">
                        <img src="~/Content/BookImages/@item.Image" class="img-thumbnail" style="height: 400px; width: 250px;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <strong>@Html.ActionLink(item.Title, "Details", "Home", new { id = item.Id }, null)</strong>
                    </div>
                    <div class="col-md-12 text-center">
                        @item.WriterFirstName
                    </div>
                    <div class="col-md-12 text-center">
                        @item.WriterLastName
                    </div>

                </div>
            }
        </div>
    </div>
